@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    .logo{
        width: 150px;
    }
    .heading-container{
        background-color: #F4DDDD;
        margin: 10px 10px 10px 10px;
    }
    .company-title{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin-block-start: 30px;
    }