@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

    .logo{
        width: 150px;
    }
    .heading-container{
        background-color: #F4DDDD;
        /* margin: 10px 10px 10px 10px; */
        padding: 10px;
    }
    .company-title{
        font-size: 30px;
        font-family: 'Baloo 2', cursive;
        position: absolute;
        /* margin: 10px 10px 10px 10px; */
        padding: 10px;
        right: 30px;
    }

    .menu{
        background-color: #BBB;
        ul{
            display:flex;
            list-style-type: none;

            li{
                margin-left: 15px;
                // padding-right: 10px;
            }
        }
        a{
            text-decoration: none;
        }

    }

    h1{
        text-align: center;
    }
    .body-container{
        padding-left: 15%;
        padding-right: 15%;
        text-align:left;
        .body-content{
            
            
            .main-photo{
                width: 350px;
                float: left;
            }
            .main-content{
                width: 800px;
                display: block;
                // justify-content: center;

            }
        }
    }
    .footer-container{
        background-color: #BBB;
    }
